*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:focus {
  outline: none;
}

html {
  box-sizing: inherit;
}

body {
  height: 100%;

  background-color: #ddb0a3;
  font-family: 'Roboto', sans-serif;
  font-style: normal;

  color: #370101;
  line-height: 1.5;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}
